/*
    php-nav-css
    version 0.1
*/
html, body {
    margin: 0px;
    padding: 0px;
    display: block;
}
body {
    color: black;
    font-family: sans-serif;
}

.php-nav {
    margin: 0px;
    word-wrap: break-word;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    position: static;
    display: inline-block;
    z-index: 1;
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
    animation: 1s php-nav-slideDown ease;
}
.php-nav-container {
    margin: 50px 20px;
}

.php-nav-btn {
    margin: 5px;
    padding: 10px 40px;
    text-decoration: none;
    color: white;
    width: 150px;
    display: inline-block;
    background: #111;
    transition: ease 1s;
}

.php-nav-btn:hover {
    background: black;
}

.php-nav h1 {
    top: 0 !important;
}
@keyframes php-nav-slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes php-nav-slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@media screen and (min-width: 570px) {
    html, body {
        display: inline-block !important;
    }
    .php-nav-container {
        margin: 50px 0px 0px 300px;
    }
    .php-nav {
        padding-top: 15px;
        height: 100%;
        display: inline-block;
        position: fixed;
        width: 250px;
        animation: 1s php-nav-slideIn ease;
    }
    .php-nav-linkContainer {
        margin-top: 30px
    }
}
